{% extends 'admintemplates/basee.html' %}
{% load static %}




{% block header %}


<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <div class="page-title">
           <h2>CATEGORIES LIST</h2>
             </div>
      </div>
    </div>
  </div>
</div>

{% endblock header %}
<!--BLOCK FOR PAGE CONTENT-->
{% block page_content %}
<div class="main-content">
  <section class="section">
<div class="row">
<div class="col-12 col-md-12 col-lg-12">    
<div class="card">
    <div class="card-header">
      <h4>Category create</h4>
    </div>
    <div class="card-body">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}"name="{{ field.name }}" id="{{ field.name}}" class="form-control">
        {% if field.errors %}
        <div class="alert alert-danger" style="margin: 10px;">
          {{ field.errors}}
        </div>
        {% endif %}
      </div>
    {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">SAVE CATEGORY</button> 
    </form>
</div>
</div>
</div>
</section>
</div>
{% endblock page_content %}
<!--ENDBLOCK FOR PAGE CONTENT-->



<!--BLOCK FOR CUSTOM JS -->
{% block custom_js %} 


{% endblock custom_js %}
<!--ENDBLOCK FOR CUSTOM JS-->