{% extends 'admintemplates/basee.html' %}
{% load static %}




  {% block header %}
  
  
  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-title">
             <h2> MERCHANT UPDATE</h2>
               </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock header %}


<!--BLOCK FOR PAGE CONTENT-->
{% block page_content %}

<div class="main-content">
  <section class="section">
<div class="row">
<div class="col-12 col-md-12 col-lg-12">    
<div class="card">
    <div class="card-body">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        <input type="{{ field.field.widget.input_type }}"name="{{ field.name }}" id="{{ field.name}}" class="form-control" value="{{ field.value }}">
        {% if field.errors %}
        <div class="alert alert-danger" style="margin: 10px;">
          {{ field.errors}}
        </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="form-group">
        <label> current Profile image</label><br>
        <img src="{{ merchantuser.profile_pic }}"  style="height:150px;" >
    </div>
    <div class="form-group">
        <label>Profile image</label>
        <input type="file" name="profile_pic" id="profile_pic" class="form-control" >
    </div>
    <div class="form-group">
        <label>Company</label>
        <input type="text" name="company_name" id="company_name" class="form-control" value="{{ merchantuser.company_name  }}">
    </div>
    <div class="form-group">
        <label>Gst</label>
        <input type="text" name="gst_details" id="gst_details" class="form-control" value="{{ merchantuser.gst_details  }}">
    </div>
    <div class="form-group">
        <label>Adress</label>
        <input type="text" name="address" id="address" class="form-control"  value="{{ merchantuser.address }}" >
    </div>
    <div class="form-group">
        <label class="custom-switch mt-2">
            <input type="checkbox" name="is_added_by_admin" class="custom-switch-input"  {% if merchantuser.is_added_by_admin == True %}checked {% endif %}>
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">Is added by admin</span>
          </label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">SAVE MERCHANT USER</button> 
    </form>
</div>
</div>
</div>
</section>
</div>
{% endblock page_content %}
<!--ENDBLOCK FOR PAGE CONTENT-->



<!--BLOCK FOR CUSTOM JS -->
{% block custom_js %} 


{% endblock custom_js %}
<!--ENDBLOCK FOR CUSTOM JS-->