{% extends 'front_end_templates/base.html' %}
{% load static %}
{% block content %}

    <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-title">
<h2>About Us</h2>
</div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
       <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
              
	       <div class="main container"> 
           <div class="row">                    
                            <div class="std"><div class="wrapper_bl" style="margin-top: 1px;">
<div class="form_background">

<p>We often get this question at a lot , in our expirience the pharase we offen get the most " what is Tradebay " and our ansewer is always pricise and straight to the pointer-events
  Tradebay is an online platform that link manufactures and suppliers with customers. One of our main objectives is to give oportunity to our to small manufactures
  and private sellers to earn refferal marketing.
</p>
<H2>Our identity</H2>
<p>Innovetion , integrity and accountability is our unmistaken identity  and as brand and as company.We are committed in taking a service first approch as we 
  work with our fellow country man    </p>
  <H2>Our Vision</H2>
  <p>Our vision is clear and simple we want to be the best in connecting suppliers and customers </p> 
  
  <H2>Our Values</H2>
  <p>accountability</p>  
  <p>Tranparency</p>
  <p>Responsability</p>    
  <p>Efficiency</p>  
</div>

</div>
</div></div> 
</div>         
	       </div><!--main-container-->
          
          </div> <!--col1-layout-->
          
  

 
  <!-- For version 1,2,3,4,6 -->
  {% endblock %}