{% extends 'front_end_templates/base.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
       <div class="page-title"><h2>404 Page</h2></div>
        </div>
        <!--col-xs-12-->
      </div>
      <!--row-->
    </div>
    <!--container-->
  </div>

<section class="content-wrapper" style="background:#ffd83b">
  <div class="container">
    <div class="std">
      <div class="page-not-found">
      <br>
        <div><img src="{% static '/front_end_css/images/404-img.jpg' %}" alt="error image"></div>
        <h3>Oops! The Page you requested was not found!</h3>
        <div><a href="index-2.html" class="btn-home"><span>Back To Home</span></a></div>
      </div>
    </div>
  </div>
</section>

{%  endblock %} 