{% extends 'front_end_templates/base.html' %}
{% load static %}
{% block content %}

    <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-title">
<h2>Frequently Asked Questions</h2>
</div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
       <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
              
	       <div class="main container"> 
           <div class="row">                    
                            <div class="std"><div class="wrapper_bl" style="margin-top: 1px;">
<div class="form_background">

  <H1>How do i make purchase on the tradebay platform </H1>
  <p>Innovetion , integrity and accountability is our unmistaken identity  and as brand and as company.We are committed in taking a service first approch as we 
    work with our fellow country man    </p>
  <H1>How do i become a tradeby supplier </H1>
  <p>Innovetion , integrity and accountability is our unmistaken identity  and as brand and as company.We are committed in taking a service first approch as we 
    work with our fellow country man    </p>
    <H1>How do i become a tradeby affilliate </H1>
  <p>Innovetion , integrity and accountability is our unmistaken identity  and as brand and as company.We are committed in taking a service first approch as we 
    work with our fellow country man    </p>

</div>
</div></div> 
</div>         
	       </div><!--main-container-->
          
          </div> <!--col1-layout-->
          
  

 
  <!-- For version 1,2,3,4,6 -->
  {% endblock %}