{% extends 'front_end_templates/base.html' %}
{% load static %}
{% block content %}

    <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-title">
<h2>Payments</h2>
</div>
        </div>
      </div>
    </div>
  </div>
<!-- BEGIN Main Container -->  
          
       <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
              
	       <div class="main container"> 
           <div class="row">                    
                            <div class="std"><div class="wrapper_bl" style="margin-top: 1px;">
<div class="form_background">

  <H1>Payments </H1>
  <p> payments can be done online through our payment gatways    </p></div>
</div></div> 
</div>         
	       </div><!--main-container-->
          
          </div> <!--col1-layout-->
          
  

 
  <!-- For version 1,2,3,4,6 -->
  {% endblock %}