{% extends 'front_end_templates/base.html' %}
{% load static %}
{% block content %}
<div class="page-heading">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        </div>
        <!--col-xs-12--> 
      </div>
      <!--row--> 
    </div>
    <!--container--> 
  </div>
  <div class="page-title">
    <h2>PRODUCT LISTING</h2>
  </div>
</div>
<!--breadcrumbs--> 
<!-- BEGIN Main Container col2-left -->
<section class="main-container col2-left-layout bounceInUp animated"> 
  <!-- For version 1, 2, 3, 8 --> 
  <!-- For version 1, 2, 3 -->
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-9 col-sm-push-3 product-grid">
      <div class="pro-coloumn">
        <article class="col-main">
          <div class="toolbar">
            
            <div id="sort-by">
              <label class="left">Sort By: </label>
              <ul>
                <li><a href="#">Position<span class="right-arrow"></span></a>
              
                </li>
              </ul>
              <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>
            <div class="pager">
              <div id="limiter">
                <label>View: </label>
                <ul>
                  <li><a href="#">15<span class="right-arrow"></span></a>
                    
                  </li>
                </ul>
              </div>
              <div class="pages">
                <label>Page:</label>
                <ul class="pagination">
                  <ul class="pagination">
                  {% if products.has_previous %}
                 <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
              </li>
                {% else %}
               <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
               </li>
               {% endif %}

                {% for i in products.paginator.page_range %}
               {% if i == product_list.number %}
               <li class="page-item active"><a class="page-link">{{i}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
               {% endif %}
               {% endfor %}

               {% if products.has_next %}
               <li class="page-item">
                 <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
              </li>
               {% else %}
               <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
               </li>
               {% endif %}
              </ul>
              </div>
            </div>
          </div>
          <div class="category-products">
            <ol class="products-list" id="products-list">
          {% for product in products %}
          <li class="item even">
            <div class="product-image"> <a href="" title="19&quot; Widescreen LCD Monitor"> <img class="small-image" src="{{ product.product_img.url }}" alt="{{  product.product_name }}"> </a> </div>
            <div class="product-shop">
              
              <h2 class="product-name"><a href="{% url 'product_detail' product.id %}" title="19&quot; Widescreen LCD Monitor">{{  product.product_name }}</a></h2>
              <div class="desc std">
                <p>{{ product.product_veiw_count.count }}Views</p>
                <p>{{  product.product_description }}... <a class="link-learn" title="" href="{% url 'product_detail' product.id %}">Learn More</a> </p>
              </div>
              <div class="price-box"> <span class="regular-price" id="product-price-156"> <span class="price">${{ product.price }}</span> </span> </div>
              <div class="actions">
                <span class="add-to-links"> 
                
                  <form action="{% url 'liked-post' %}" method="POST" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="products_id" value="{{ product.id }}">
                    {% if user not in product.liked.all %}
                 <button type="submit" class="button link-wishlist"><span>Like</span>Like</button>
                    {% else  %}
                    <a  type="submit" class="button link-compare" href="#">Unlike</a></button> 
                    {% endif %}
                    <strong>{{ product.liked.all.count }}  Likes</strong>
                </form>
               


                  <form action="{% url 'product_detail' product.id %}" method="get">
                    <input type="hidden" name="product-id" value="{{ product.id }}">
                 <button type="submit" class="button link-wishlist"><span>Products Detail</span>Product Detail</button>
                </form>
                  <i class="bi bi-hand-thumbs-up"></i>
            </div>
          </li>
          {% endfor %}
        </ol>
          </div>
          <div class="toolbar bottom">
            
            <div id="sort-by">
              <label class="left">Sort By: </label>
              <ul>
                <li><a href="#">Position<span class="right-arrow"></span></a>
                 
                </li>
              </ul>
              <a class="button-asc left" href="#" title="Set Descending Direction"><span class="top_arrow"></span></a> </div>
            <div class="pager">
              <div id="limiter">
                <label>View: </label>
                <ul>
                  <li><a href="#">15<span class="right-arrow"></span></a>
                    
                  </li>
                </ul>
              </div>
              <div class="pages">
                <label>Page:</label>
                <ul class="pagination">
                  <ul class="pagination">
                  {% if products.has_previous %}
                 <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
              </li>
                {% else %}
               <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
               </li>
               {% endif %}

                {% for i in products.paginator.page_range %}
               {% if i == product_list.number %}
               <li class="page-item active"><a class="page-link">{{i}}</a></li>
               {% else %}
               <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
               {% endif %}
               {% endfor %}

               {% if products.has_next %}
               <li class="page-item">
                 <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
              </li>
               {% else %}
               <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
               </li>
               {% endif %}
             </ul>
              </div>
            </div>
          </div>
          
        </article>
        </div>
        <!--	///*///======    End article  ========= //*/// --> 
      </div>
      <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated"> 
      
        <!-- BEGIN SIDE-NAV-CATEGORY -->
        <div class="main container">
           <div class="row">
             <div class="col-left sidebar col-sm-3 blog-side">
             <div class="block widget_search"><form id="searchform" action="{%  url 'searchbar' %}" method="get">
           <div class="input-group">
              <input type="text" name="search" id="s" placeholder="Search For" class="input-text" autocomplete="off">
              <div class="input-group-append">
                 <button type="submit" class="thm-search"><i class="fa fa-search"></i></button>
              </div>
           </div>
       </form>
       </div>
      <!-- BEGIN SIDE-NAV-CATEGORY -->
        <div class="side-nav-categories">
          <div class="block-title"> Categories </div>
          <!--block-title--> 
          <!-- BEGIN BOX-CATEGORY -->
          <div class="box-content box-category">
            <ul>
              <li> <a class="active" href="{% url 'product_list_view' %}">All Categories</a> <span ></span>
              {% for productCategory in productCategories %}
              <li> <a href="{% url 'product_list_view' %}?productCategory={{ productCategory.title}}">{{ productCategory.title}}</a> <span class="subDropdown plus"></span>
                <ul class="level0_455" style="display:none">
                  <li> <a href="grid.html"> Bumpers </a> <span class=""></span>
                    
                    <!--level1--> 
                  </li>
                  <!--level1-->
                  <li> <a href="grid.html"> Doors  </a> <span class=""></span>
                    
                    <!--level1--> 
                  </li>
                  <!--level1-->
                  <li> <a href="grid.html"> Fenders </a> <span class=""></span>
                    
                    <!--level1--> 
                  </li>
                  <!--level1-->
                  <li> <a href="grid.html"> Griles </a> <span class=""></span>
                    
                    <!--level1--> 
                  </li>
                  <!--level1-->
                  <li> <a href="grid.html">Hoods </a> <span class=""></span>
                    
                    <!--level1--> 
                  </li>
                  <!--level1-->
                  
                    <!--level1--> 
                  </li>

                </ul>
                <!--level0--> 
              </li>
              {% endfor %}
            </ul>
          </div>
        <!--side-nav-categories-->
      </aside>
      <!--col-right sidebar--> 
    </div>
    <!--row--> 
  </div>
  <!--container--> 
</section>
{%  endblock %}


