{% extends 'admintemplates/basee.html' %}
{% load static %}


{% block header %}
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <div class="page-title">
           <h2>TRADEBAY  ADMIN DASHBOARD</h2>
             </div>
      </div>
    </div>
  </div>
</div>

{% endblock header %}
<!--BLOCK FOR PAGE CONTENT-->
{% block page_content %}

<!-- BEGIN Main Container col2-right -->

{% endblock page_content %}
<!--ENDBLOCK FOR PAGE CONTENT-->





